<footer>
    <div class="container-fluid bg-white p-0 py-3 px-5 m-0 row">
        <div class="col-4"></div>

        <div class="col-4 text-center">
            <p class="fs-5 p-0 m-0">&#169; 2024 Saborear</p>
        </div>
       
        <div class="col-4 text-end d-flex justify-content-end">
            <img class="footer-svg" src="/img/svg/facebook.svg" alt="Imagen del ícono de Facebook.">
            <img class="footer-svg" src="/img/svg/twitter-x.svg" alt="Imagen del ícono de X.">
            <img class="footer-svg" src="/img/svg/instagram.svg" alt="Imagen del ícono de Instagram.">
        </div>
    </div>
</footer>