<h1> Restablecer Contraseña </h1>

<form class="formulario" action="/api/users/reset-password" method="POST">
    <label for="email"> Email: </label>
    <input type="email" class="inputMessi" name="email" placeholder="Ej: juanperez@gmail.com" required>

    <label for="token"> Numero de confirmación: </label>
    <input type="text" class="inputMessi" name="token" id="token" placeholder="Ej: 317543" required>

    <label for="password"> Nueva contraseña: </label>
    <input type="password" class="inputMessi" id="password" name="password" placeholder="Ej: Holasoyjuanperez.123" required>

    <br><br>
    <button class="btnMios" type="submit"> Restablecer </button>

    {{#if error}}
        <p class="error text-center my-1"> {{error}} </p>
    {{/if}}
</form>

<style>
    .error {
        color: red;
    }
</style>