<div data-aos="fade-down" data-aos-duration="1000"> {{!-- Mensaje simple que confirma la compra --}}
    <h1 class="my-5">Checkout</h1>

    <div class="formulario">
        <p>¡Gracias por tu compra <span class="fw-bold text-underline">{{cliente}}</span>!</p>
        <p>El número de orden es: <span class="fw-bold text-underline">{{numTicket}}</span></p>
        <p class="m-0">Te enviaremos un e-mail a <span class="fw-bold text-underline">{{email}}</span> con toda la información de tu orden.</p>
    </div>
</div>