<div data-aos="fade-down" data-aos-duration="1000"> {{!-- Escribir token enviado por correo y una nueva contrase침a --}}
    <h1 class="my-5">Restablecer Contrase침a</h1>

    <form class="formulario" action="/api/users/reset-password" method="POST">
        <label for="email">Email:</label>
        <input type="email" class="form-input" name="email" placeholder="Ej: juanperez@gmail.com" required>

        <label for="token">Numero de confirmaci칩n:</label>
        <input type="text" class="form-input" name="token" id="token" placeholder="Ej: 317543" required>

        <label for="password">Nueva contrase침a:</label>
        <input type="password" class="form-input" id="password" name="password" placeholder="Ej: Holasoyjuanperez.1234" required>

        <br><br>
        <button class="form-btn" type="submit">Restablecer</button>

        {{#if error}}
            <p class="text-danger text-center my-1"> {{error}} </p>
        {{/if}}
    </form>
</div>