h1 {
    color: rgb(200, 0, 0);
    text-align: center;
}

span {
    color: rgb(200, 0, 0);
    font-weight: bold;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-chat {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
}

.github {
    width: auto;
    font-size: 18px;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.25s;
}

.github:hover {
    background-color: rgb(150, 0, 0);
    transform: scale(1.05);
}

#chatBox {
    grid-row: 1;
    width: 40rem;
    height: 20px;
    border: 2px solid black;
    border-radius: 4px;
}

#messagesLogs {
    grid-row: 2;
    border: 2px solid black;
    border-radius: 4px;
    padding: 2px;
}