<h1> Generar Correo con Token </h1>

<form class="formulario" action="/api/users/requestPasswordReset" method="POST">
    <label for="email"> Email: </label>
    <input type="text" class="inputMessi" name="email" id="email" placeholder="Ej: juanperez@gmail.com" required>

    <br><br>
    <button class="btnMios" type="submit"> Enviar correo </button>

    {{#if error}}
        <p class="error text-center my-1"> {{error}} </p>
    {{/if}}
</form>

<style>
    .error {
        color: red;
    }
</style>