<div>
    <div class="bg-banner">
        <div class="d-flex justify-content-center align-items-center mx-5" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="text-start color2 title m-0 my-5">LOS <span class="color3">MEJORES PRODUCTOS</span> <br> AL <span class="color3">MEJOR PRECIO</h1>span></h1>
        </div>

        <div class="row mx-5 pb-5">
            <div class="col-7 d-flex align-items-center" data-aos="fade-right" data-aos-duration="2000">
                <p class="text-white text-home px-5">Ofrecemos una amplia variedad de productos cuidadosamente seleccionados para satisfacer todos tus antojos, desde frutas y verduras frescas hasta exquisitas especialidades gourmet. <br><br> Nos enorgullecemos de proporcionar ingredientes de alta calidad para que disfrutes de comidas saludables y sabrosas en la comodidad de tu hogar. <br><br> ¡<a href="/login" class="text-white">Inicia Sesión</a> y explora nuestras categorías!</p>
            </div>

            <div class="col-5" data-aos="fade-left" data-aos-duration="2000">
                <div class="d-flex justify-content-center align-items-center row">
                    <div class="card card-home">
                        <img src="/img/papa.jpg" alt="Imagen de una papa">
                    </div>

                    <div class="card card-home">
                        <img src="/img/tomate.jpg" alt="Imagen de un tomate">
                    </div>
                </div>

                <div class="d-flex justify-content-center align-items-center row">
                    <div class="card card-home">
                        <img src="/img/pan.jpg" alt="Imagen de un pan">
                    </div>

                    <div class="card card-home">
                        <img src="/img/queso.jpg" alt="Imagen de un queso">
                    </div>
                </div>
            </div>
        </div>

        {{!-- <div class="d-flex justify-content-center align-items-center m-5 gap-5">
            <img src="https://fakeimg.pl/200x200/">
        </div> --}}
    </div>

    <div class="row bg-color3 py-3">
        <div class="col-4 d-flex flex-row justify-content-center align-items-center border-end border-white gap-3 p-0 py-2">
            <img class="img-toWhite m-0 p-0" src="/img/svg/user.svg" width="32px" alt="Ícono de usuario.">
            <p class="fs-5 font3 text-white m-0 p-0">Registrate e Inicia Sesión</p>
        </div>

        <div class="col-4 d-flex flex-row justify-content-center align-items-center border-end border-white gap-3 p-0 py-2">
            <img class="img-toWhite m-0 p-0" src="/img/svg/add.svg" width="32px" alt="Ícono de agregado.">
            <p class="fs-5 font3 text-white m-0 p-0">Añade productos a tu carrito</p>
        </div>

        <div class="col-4 d-flex flex-row justify-content-center align-items-center border-end border-white gap-3 p-0 py-2">
            <img class="img-toWhite m-0 p-0" src="/img/svg/bag.svg" width="32px" alt="Ícono de carro.">
            <p class="fs-5 font3 text-white m-0 p-0">Compra y recibe tu pedido</p>
        </div>
    </div>
</div>