<footer>
    <div class="row container-fluid bg-white m-0 p-0 py-3 px-5">
        <div class="col-4"></div> {{!-- Espacio en blanco para rellenar --}}

        <div class="col-4 text-center"> {{!-- Copyright --}}
            <p class="fs-5 p-0 m-0">&#169; 2024 Saborear</p>
        </div>
       
        <div class="col-4 d-flex justify-content-end text-end"> {{!-- Redes Sociales --}}
            <img class="footer-svg" src="/img/svg/facebook.svg" alt="Imagen del ícono de Facebook.">
            <img class="footer-svg" src="/img/svg/twitter-x.svg" alt="Imagen del ícono de X (antiguamente Twitter).">
            <img class="footer-svg" src="/img/svg/instagram.svg" alt="Imagen del ícono de Instagram.">
        </div>
    </div>
</footer>