h1 {
    color: rgb(200, 0, 0);
    text-align: center;
}

.container {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
}

#chatBox {
    grid-row: 1;
    width: 40rem;
    height: 20px;
    border: 2px solid black;
    border-radius: 4px;
}

#messagesLogs {
    grid-row: 2;
    border: 2px solid black;
    border-radius: 4px;
    padding: 2px;
}