/* ================ ELEMENTS ================ */
h1 {
    color: rgb(200, 0, 0);
    text-align: center;
}

span {
    color: rgb(200, 0, 0);
    font-weight: bold;
}

/* ================ LOGIN WITH GITHUB & GOOGLE ================ */
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* BUTTONS */
.login-with {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    border-radius: 8px;
    padding: 12px 12px;
    margin-bottom: 20px;
    gap: 12px;
}
.login-with-github, .login-with-google {
    max-width: 280px;
    /* display: block; */
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    padding: 10px;
    gap: 8px;
    /* cursor: pointer; */
    transition: all 0.25s;
}
.login-with-github {
    background-color: black;
}
.login-with-google {
    border: 1px solid black;
    padding: 9px;
    background-color: rgb(255, 255, 255);
}

/* IMG */
.login-with-github img, .login-with-google img{
    width: 20px;
}

/* TEXT */
.login-with-github a, .login-with-google a{
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}
.login-with-github a {
    color: white;
}
.login-with-google a {
    color: black;
}

/* HOVER */
.login-with-github:hover, .login-with-google:hover {
    transform: scale(1.05);
}
/* .login-with-github:hover {
    background-color: rgb(40, 40, 40);
}
.login-with-google:hover {
    background-color: rgb(215, 215, 215);
} */

/* ================ CHAT ================ */
.container-chat {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
}

#chatBox {
    grid-row: 1;
    width: 40rem;
    height: 20px;
    border: 2px solid black;
    border-radius: 4px;
}

#messagesLogs {
    grid-row: 2;
    border: 2px solid black;
    border-radius: 4px;
    padding: 2px;
}