<div data-aos="fade-down" data-aos-duration="1000"> {{!-- Mensaje simple antes de confirmar la compra --}}
    <h1 class="my-5">Pre-Checkout</h1>

    <div class="formulario">
        <p class="text-center">Espera unos segundos...</p>
    </div>
</div>

<script src="/js/preCheckout.js"></script>
