<div>
    <div class="bg-banner"> {{!-- Imagen de fondo --}}
        <section>
            <div class="d-flex justify-content-center align-items-center mx-5" data-aos="fade-up" data-aos-duration="1000">
                <h1 class="title-home">LOS <span class="color3">MEJORES PRODUCTOS</span> <br> AL <span class="color3">MEJOR PRECIO</span></h1>
            </div> {{!-- Texto h1 --}}
        </section>

        <section>
                <div class="row mx-5">
                    <div class="div-home col-12 col-xl-7 d-flex align-items-center" data-aos="fade-up" data-aos-duration="2000"> {{!-- Descripción --}}
                        <p class="text-home">
                            Ofrecemos productos frescos y de calidad para que disfrutes de comidas sabrosas, como: <span class="color3"> frutas, verduras, carnes, embutidos, lácteos, cereales</span> y más. 
                            <br><br> 
                            Hacemos <span class="color3">envíos a toda Argentina</span> para que puedas recibir lo mejor del mercado directamente en tu casa. ¡Calidad garantizada para que siempre tengas lo mejor en tu mesa! 
                            <br><br> 
                            ¡<a href="/login" class="color3">Inicia Sesión</a> y mira nuestros productos!
                        </p>
                    </div>

                    <div class="col-12 col-xl-5" data-aos="fade-up" data-aos-duration="1500"> {{!-- Imágenes --}}
                        <div class="row div-home">
                            <div class="card card-home">
                                <img src="/img/papa.jpg" alt="Imagen de una papa.">
                            </div>

                            <div class="card card-home">
                                <img src="/img/tomate.jpg" alt="Imagen de un tomate.">
                            </div>
                        </div>

                        <div class="row div-home">
                            <div class="card card-home">
                                <img src="/img/pan.jpg" alt="Imagen de un pan.">
                            </div>

                            <div class="card card-home">
                                <img src="/img/queso.jpg" alt="Imagen de un queso.">
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <section>
            <div class="row container m-0 mx-auto p-0 py-5" data-aos="fade-in" data-aos-duration="2500"> {{!-- 3 ítems --}}
                <div class="div-icon-item-home col-12 col-lg-4">
                    <img class="icon-item-home" src="/img/svg/user.svg" alt="Ícono de un usuario.">
                    <p class="fs-5 font3 text-white m-0 p-0">Registrate e Inicia Sesión</p>
                </div>

                <div class="div-icon-item-home col-12 col-lg-4">
                    <img class="icon-item-home" src="/img/svg/add.svg" alt="Ícono de un símbolo más.">
                    <p class="fs-5 font3 text-white m-0 p-0">Añade productos a tu carrito</p>
                </div>

                <div class="col-12 col-lg-4 d-flex flex-row flex-wrap justify-content-center align-items-center gap-3 p-0 py-2">
                    <img class="icon-item-home" src="/img/svg/bag.svg" alt="Ícono de una bolsa de compra.">
                    <p class="fs-5 font3 text-white m-0 p-0">Compra y recibe tu pedido</p>
                </div>
            </div>
        </section>
    </div>
</div>