<div data-aos="fade-down" data-aos-duration="1000"> {{!-- Mensaje de confirmación para recuperar contraseña --}}
    <h1 class="text-center my-5">Correo enviado</h1>
    <p class="text-center text-white fs-5 mx-4">Revisa tu correo. Hemos enviado un código y un link para que continues con tu restablecimiento.</p>  
    <p class="text-center text-white fs-5 mx-4">En caso de no haberlo recibido luego de 5 minutos, vuelve a solicitarlo.</p>  
</div>