<div data-aos="fade-down" data-aos-duration="1000"> {{!-- Enviar mail al correo para recuperar contraseña --}}
    <h1 class="my-5"> Generar Correo con Token </h1>

    <form class="formulario margin-form" action="/api/users/requestPasswordReset" method="POST">
        <label for="email"> Email: </label>
        <input type="text" class="form-input" name="email" id="email" placeholder="Ej: juanperez@gmail.com" required>
        
        {{#if error}}
            <p class="text-danger text-center">{{error}}</p>
        {{/if}}       

        <button class="form-btn" type="submit">Enviar correo</button>
    </form>
</div>