<div data-aos="fade-down" data-aos-duration="1000"> {{!-- Menú de agregar/eliminar productos --}}
    <h1 class="m-0 my-5">Modificar Productos</h1>

    <h2 class="text-center text-md-start text-white mx-5 mt-5 mb-3">Todos los productos</h2>
    
    <hr class="color2 mx-5">


    <h2 class="text-center text-md-start text-white mx-5 mt-5 mb-3">Agregar un producto</h2>
    
    <hr class="color2 mx-5">
   
    <form class="form-crear mx-5 my-5"> {{!-- Crear un producto --}}
        <input type="text" id="title" maxlength="14" placeholder="Titulo">
        <input type="text" id="description" maxlength="40" placeholder="Descripcion">
        <input type="number" id="price" placeholder="Precio">
        <input type="text" id="img" placeholder="Imagen (opcional)">
        <input type="text" id="code" placeholder="Código (debe ser único)">
        <input type="number" id="stock" placeholder="Stock">
        <input type="text" id="category" placeholder="Categoria">
        <select id="status">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select> <br>
        <button type="button" class="clickeable btn-modify" onclick="agregarProducto('{{userRole}}', '{{userID}}')">Enviar</button>
    </form>
</div>

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/realtime.js"></script>