<footer>
    <div class="row container-fluid bg-white m-0 p-0 py-3 px-3">
        <div class="col-0 col-md-4"></div> {{!-- Espacio en blanco para rellenar --}}

        <div class="col-6 col-md-4 text-start text-md-center p-0"> {{!-- Copyright --}}
            <p class="fs-5 p-0 m-0 ms-2">&#169; 2024 Saborear</p>
        </div>
       
        <div class="col-6 col-md-4 d-flex justify-content-end text-end p-0"> {{!-- Redes Sociales --}}
            <img class="footer-svg" src="/img/svg/facebook.svg" alt="Imagen del ícono de Facebook.">
            <img class="footer-svg" src="/img/svg/twitter-x.svg" alt="Imagen del ícono de X (antiguamente Twitter).">
            <img class="footer-svg" src="/img/svg/instagram.svg" alt="Imagen del ícono de Instagram.">
        </div>
    </div>
</footer>