{{!-- <h1>Bienvenido al lobby.</h1>

<div class="center">
    <p>Si ya iniciaste sesión, estas opciones te redirigirán a la pantalla de productos.</p>

    <a href="/login">Iniciar Sesión</a>
    <a href="/register">Crear un usuario</a>
</div> --}}