{{!-- <h1>¡Bienvenido a tu perfil!</h1>

<div class="center">
    <ul>
        <li>Apellido: {{last_name}}</li>
        <li>Nombre: {{first_name}}</li>
        <li>Edad: {{age}}</li>
    </ul>

    <a href="/">Volver</a>
    <br>
    <a href="/api/sessions/logout">Logout</a>
</div> --}}